@use 'abstracts' as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  color: $base-colour;
  //background-color: $base-background-colour;
  font-size: 1.6rem;
  line-height: 34px;
  font-family: $base-font-family;
  font-synthesis: none;
  background-color: $surface-light;

  @include media($breakpoint-sm) {
    font-size: 1.6rem;
  }
}

body.home {
  background-color: $surface-light;
}

hr {
  height: 1px;
  background-color: $base-colour;
}
.viewer-container {
    li:empty, p:empty {
        display: block !important;
    }

    li {
        display: block !important;
    }
}

.decor-red {
    @include media($breakpoint-sm) {
        height: 40px;
        
    }
}
