@use 'abstracts' as *;

a,
button {
    transition: $transition;
    cursor: pointer;
    
    &:hover {
        transition: $transition;
        color: $accent;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 400;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

.text-italic {
  font-style: italic;
}
.weight-light {
  font-weight: $font-weight-light;
}
.weight-regular {
  font-weight: $font-weight-regular;
}
.weight-medium {
  font-weight: $font-weight-medium;
}
.weight-semibold {
  font-weight: $font-weight-semibold;
}
.weight-bold {
  font-weight: $font-weight-bold;
}
.weight-thin {
  font-weight: $font-weight-thin;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.c-wysiwyg {
  ul,
  ol {
    margin: 0;
    padding-left: 21px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    line-height: 24px;
    margin: 0;
    padding-left: 2px;
  }

  ul li::marker {
    color: currentcolor;
  }
}


.font-family-base {
  font-family: $base-font-family;
}
.font-family-heading {
  font-family: $heading-font-family;
}

.color-accent {
color: $accent;
}
.color-white {
color: $white;
}
.color-black {
color: $black;
}
