@use 'fonts' as *;
/**
 * Colours
 */



$black: #000000;
$white: #fff;

$gray-1: #8D8D8D;
$accent: #FF5064;

$success-colour: #5cb85c;
$warning-colour: #f0ad4e;
$error-colour: #e42f28;


$base-colour: $black;
$base-background-colour: $white;

/**
 * Typography
 */
$poppins-font-family: "Poppins", sans-serif;
$geist-font-family: "GeistMono", sans-serif;

$base-font-family: $poppins-font-family;
$heading-font-family: $geist-font-family;
/**
* Breakpoints
*/
$breakpoint-xl: 1560px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 480px;

/**
* Animations
*/
$timing: ease-in-out;
$transition: all 0.2s $timing;


$base-border-radius: 26px;
$shadow: 30px 30px 60px rgba($black, .15);

$page-width: 1870px;
$page-gap: 16px;

$grid-columns: 12; // liczba kolumn w gridzie
/* Test change ptk 11 lip 14:36:51 2025 CEST */
